<div class="container w-25 p-3 ">
  <form>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text"
             class="form-control"
             id="inputEmail"
             [ngClass]="loginCredentials?.email"
             placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        [ngClass]="loginCredentials?.password"
        placeholder="Password">
    </div>
    <div class="form-group">
      <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <button routerLink="/register" class="btn btn-secondary">Registrieren</button>
  <button routerLink="/home" class="btn btn-secondary">Home</button>
</div>
